# Extract mentions and hashtags from tweets

Extract hashtags and tweets from your twitter data with regex. This is a helpful first step in topic identification.

In [1]:
# Load packages
import pandas as pd 
import nltk
from nltk.tokenize import regexp_tokenize

In [2]:
# Upload your data as a csv or json file and load it as a data frame 
try:
    df = pd.read_csv('twitter.csv')
except:
    df = pd.read_json('twitter.json', orient='index').T

df.head()

,date,from,text
0,2/1/2011,nollytoenders,rt @nollytoenders: http://on.ted.com/8sbx ari ...
1,2/1/2011,gordon_l,@widged merits &amp; demerits of moocs etc - i...
2,2/1/2011,livesofteachers,connectivism (learning theory) - qwiki http://...
3,2/1/2011,cck11feeds,rt @zaidlearn: 23 educator roles: an imagined ...
4,2/1/2011,cck11feeds,@doremigirl @wrightstufmusic we were talking a...

In [3]:
# Define a regex pattern to find hashtags: pattern1
pattern1 = r"#\w+"

# Write a pattern that matches both mentions (@) and hashtags
pattern2 = r"(@\w+)"

hashtags = []
mentions = []
for tweet in df['text']:
    hashtags.append(nltk.tokenize.regexp_tokenize(tweet, pattern1))
    mentions.append(regexp_tokenize(tweet, pattern2))

df['mentions'] = mentions
df['hashtags'] = hashtags
df.head()

,date,from,text,mentions,hashtags
0,2/1/2011,nollytoenders,rt @nollytoenders: http://on.ted.com/8sbx ari ...,[@nollytoenders],[#cck11]
1,2/1/2011,gordon_l,@widged merits &amp; demerits of moocs etc - i...,[@widged],[#cck11]
2,2/1/2011,livesofteachers,connectivism (learning theory) - qwiki http://...,[],[]
3,2/1/2011,cck11feeds,rt @zaidlearn: 23 educator roles: an imagined ...,[@zaidlearn],[#cck11]
4,2/1/2011,cck11feeds,@doremigirl @wrightstufmusic we were talking a...,"[@doremigirl, @wrightstufmusic, @courosa]",[#cck11]